### Import googlemaps package and login with the key

In [1]:
import googlemaps

In [2]:
gomaps = googlemaps.Client(key='AI...')

### Check the result and data type

In [3]:
geocode_result = gomaps.geocode('China')

In [4]:
geocode_result

[{'address_components': [{'long_name': 'China',
    'short_name': 'CN',
    'types': ['country', 'political']}],
  'formatted_address': 'China',
  'geometry': {'bounds': {'northeast': {'lat': 53.56097399999999,
     'lng': 134.7728099},
    'southwest': {'lat': 17.9996, 'lng': 73.4994136}},
   'location': {'lat': 35.86166, 'lng': 104.195397},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 53.56097399999999, 'lng': 134.7726951},
    'southwest': {'lat': 18.1618062, 'lng': 73.5034261}}},
  'place_id': 'ChIJwULG5WSOUDERbzafNHyqHZU',
  'types': ['country', 'political']}]

### Import IMR data

In [2]:
import pandas as pd
import numpy as np

In [3]:
IMR = pd.read_csv('IMR.csv',encoding = "ISO-8859-1")

In [7]:
IMR[:5]

                   Area  Time Period  Data Value
0           Afghanistan         2010         103
1                Angola         2010          98
2               Albania         2010          16
3               Andorra         2010           3
4  United Arab Emirates         2010           6

In [8]:
len(IMR['Area'])

195

### Extract the latitude and longitude from googlemaps

In [9]:
lat = []
lng = []

In [10]:
for i in range(len(IMR['Area'])):
    gm_re = gomaps.geocode(IMR['Area'][i])
    lat.append(gm_re[0]['geometry']['location']['lat'])
    lng.append(gm_re[0]['geometry']['location']['lng'])

In [11]:
len(lng)

195

### Write geoinfomation data for Tableau drawing the maps

In [12]:
country = list(IMR['Area'])

In [13]:
col=['Country','Latitude','Longitude']

In [14]:
geoinf = pd.DataFrame([country,lat,lng], col)
geoinf = geoinf.transpose()

In [15]:
geoinf

                                Country Latitude Longitude
0                           Afghanistan  33.9391     67.71
1                                Angola -11.2027   17.8739
2                               Albania  41.1533   20.1683
3                               Andorra  42.5063    1.5218
4                  United Arab Emirates  23.4241   53.8478
5                             Argentina -38.4161  -63.6167
6                               Armenia  40.0691   45.0382
7                   Antigua and Barbuda  17.0608  -61.7964
8                             Australia -25.2744   133.775
9                               Austria  47.5162   14.5501
10                           Azerbaijan  40.1431   47.5769
11                              Burundi -3.37306   29.9189
12                              Belgium  50.5039   4.46994
13                                Benin  9.30769   2.31583
14                         Burkina Faso  12.2383  -1.56159
15                           Bangladesh   23.685   90.3563
16                             Bulgaria  42.7339   25.4858
17                              Bahrain  26.0667   50.5577
18                              Bahamas  25.0343  -77.3963
19               Bosnia and Herzegovina  43.9159   17.6791
20                              Belarus  53.7098   27.9534
21                               Belize  17.1899  -88.4976
22     Bolivia (Plurinational State of) -16.2902  -63.5887
23                               Brazil  -14.235  -51.9253
24                             Barbados  13.1939  -59.5432
25                    Brunei Darussalam  4.53528   114.728
26                               Bhutan  27.5142   90.4336
27                             Botswana -22.3285   24.6849
28             Central African Republic  6.61111   20.9394
29                               Canada  56.1304  -106.347
..                                  ...      ...       ...
165                              Sweden  60.1282   18.6435
166                           Swaziland -26.5225   31.4659
167                          Seychelles -4.67957    55.492
168                Syrian Arab Republic  34.8021   38.9968
169                                Chad  15.4542   18.7322
170                                Togo  8.61954  0.824782
171                            Thailand    15.87   100.993
172                          Tajikistan   38.861   71.2761
173                        Turkmenistan  38.9697   59.5563
174                         Timor-Leste -8.87422   125.728
175                               Tonga  -21.179  -175.198
176                 Trinidad and Tobago  10.6918  -61.2225
177                             Tunisia  33.8869    9.5375
178                              Turkey  38.9637   35.2433
179                              Tuvalu -7.47842    178.68
180         United Republic of Tanzania -6.36903   34.8888
181                              Uganda  1.37333   32.2903
182                             Ukraine  48.3794   31.1656
183                             Uruguay -32.5228  -55.7658
184                       United States  37.0902  -95.7129
185                          Uzbekistan  41.3775   64.5853
186    Saint Vincent and the Grenadines  13.2528  -61.1971
187  Venezuela (Bolivarian Republic of)  6.42375  -66.5897
188                            Viet Nam  14.0583   108.277
189                             Vanuatu -15.3767   166.959
190                               Samoa  -13.759  -172.105
191                               Yemen  15.5527   48.5164
192                        South Africa -30.5595   22.9375
193                              Zambia -13.1339   27.8493
194                            Zimbabwe -19.0154   29.1549

[195 rows x 3 columns]

In [16]:
geoinf.to_csv('geoinf.csv')

### Or use gmaps package to plot in jupyter

In [4]:
from matplotlib.cm import viridis
from matplotlib.colors import to_hex

import gmaps
import gmaps.geojson_geometries

In [5]:
gmaps.configure(api_key="AI...")

In [6]:
# load geojson
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

In [7]:
imr_max = max(IMR['Data Value'])
imr_min = min(IMR['Data Value'])
imr_range = imr_max - imr_min

In [8]:
def calc_color(imr):
    norm_imr = (imr - imr_min) / imr_range
    inv_imr = 1.0 - norm_imr
    mpl_color = viridis(inv_imr)
    gmaps_color = to_hex(mpl_color, keep_alpha=False)
    return gmaps_color

In [9]:
colors = []
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']
    try:
        if(len(IMR.loc[IMR['Area'] == country_name]['Data Value'])):
            imr = int(IMR.loc[IMR['Area'] == country_name]['Data Value'])
            color = calc_color(imr)
    except KeyError:
        # no IMR for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

In [10]:
fig = gmaps.figure()
imr_layer = gmaps.geojson_layer(countries_geojson, 
                                fill_color=colors, 
                                stroke_color=colors,
                                fill_opacity=0.8)
fig.add_layer(imr_layer)

In [11]:
fig